<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/forgotPassword.css">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="#"><img src="../public/asset/logo.png" alt=""></a>
        <a href="#">Đăng nhập</a>
    </header>
    <section class="body">
       <div class="slide slide1 active">
            <h3>Tìm tài khoản của bạn</h3>
            <h4>Vui lòng nhập email để tìm kiếm tài khoản của bạn.</h4>
            <form id="form1" action="">
                <div class="form-input">
                    <input name="email" type="text" id="email1" required>
                    <label class="placeholder" for="email1">email</label>
                    <span id="messageErrorEmail"></span>
                </div>
               <ul>
                <li><button>Hủy</button></li>
                <li><button type="submit" class="next active">Tìm kiếm</button></li>
               </ul>
            </form>
       </div>
       <div class="slide slide2">
        <h3>Nhập mã code</h3>
        <h4>Vui lòng nhập mã code để xác nhận tài khoản của bạn.</h4>
        <form id="form2" action="">
            <div class="form-input">
                <input class="user-select--none" name="email" type="text" id="email2" required>
                <label class="placeholder" for="email2">email</label>
            </div>
            <div class="form-input">
                <input name="code" type="password" id="code" required>
                <label onclick="togglePassword(this, '#code')" class="togglePassword" for="code">Hiện</label>
                <label class="placeholder" for="code">mã code</label>
                <span id="messageErrorCode"></span>
            </div>
           <ul>
            <li><button>Hủy</button></li>
            <li><button type="submit" class="next">Xác nhận</button></li>
           </ul>
        </form>
   </div>
   <div class="slide slide3">
    <h3>Đổi mật khẩu</h3>
    <h4>Vui lòng đổi mật khẩu và hoàn tất</h4>
    <form id="form3" action="">
        <div class="form-input">
            <input name="password" type="password" id="password" required>
            <label onclick="togglePassword(this, '#password')" class="togglePassword" for="password">Hiện</label>
            <label class="placeholder" for="password">mật khẩu mới</label>
            <span id="messageErrorPassword"></span>
        </div>
        <div class="form-input">
            <input type="password" id="confirmPassword" required>
            <label onclick="togglePassword(this, '#confirmPassword')" class="togglePassword" for="confirmPassword">Hiện</label>
            <label class="placeholder" for="confirmPassword">nhập lại mật khẩu</label>
            <span id="messageErrorConfirmPassword"></span>
        </div>
       <ul>
        <li><button class="next" type="submit">Xác nhận</button></li>
       </ul>
    </form>
</div>
    </section>
    <section class="footer">
        <div class="footer-container">
            <a href="#">Bạn có câu hỏi? Liên hệ với chúng tôi.</a>
            <div class="footer-help">
                <div>
                    <a href="#">Câu hỏi thường gặp</a>
                </div>
                <div>
                    <a href="#">Trung tâm trợ giúp</a>
                </div>
                <div>
                    <a href="#">Điều khoản sử dụng</a>
                </div>
                <div>
                    <a href="#">Quyền riêng tư</a>
                </div>
                <div>
                    <a href="#">Tùy chọn cookie</a>
                </div>
                <div>
                    <a href="#">Thông tin doanh nghiệp</a>
                </div>
            </div>
            <div class="footer-languages">
                <div>
                    <ion-icon name="earth-outline"></ion-icon>
                    <p>Tiếng Việt <ion-icon name="chevron-down-outline"></ion-icon></p>
                </div>
                <ul>
                    <li><a href="#">Tiếng Việt</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
        </div>
    </section>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="../public/validate.js"></script>
<script>
     const handleSubmit1 = new Validate({
            form: '#form1',
            rules:[
            Validate.isValidate('#email1', '#messageErrorEmail', [{regex: /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/, message: 'Vui lòng nhập đúng email của bạn'}]),
            ]
        })

     const handleSubmit3 = new Validate({
            form: '#form3',
            rules:[
            Validate.isValidate('#password', '#messageErrorPassword',[
                    {regex:/(?=.*[a-z])/, message: 'Mật khẩu phải chứa chữ cái in thường'},
                    {regex: /(?=.*[A-Z])/, message: 'Mật khẩu phải chứa chữ cái in hoa'}, 
                    {regex: /(?=.*[0-9])/, message: 'Mật khẩu phải chứa số từ 0 đến 9'},
                    {regex: /(?=.*[!@#$%^&*])/, message: 'Mật khẩu phải chứa kí tự đặc biệt'},
                    {regex: /(?=.{8,})/, message: 'Mật khẩu phải chứa ít nhất 8 kí tự'}
                ]),
                Validate.isConfirm('#password', '#confirmPassword', '#messageErrorConfirmPassword', 'Mật khẩu không khớp'),
            ]
        })
</script>
<script>
    let token = null
     window.addEventListener('click', function(event) {
        if(!document.querySelector('.footer .footer-languages > div').contains(event.target))
            document.querySelector('.footer .footer-languages').classList.remove('active')
        else 
            document.querySelector('.footer .footer-languages').classList.toggle('active')
    })
    function togglePassword(element, query) {
        if(document.querySelector(query).type == 'password') {
            document.querySelector(query).type = 'text'
            element.innerText = 'Ẩn'
        }
        else {
            document.querySelector(query).type = 'password'
            element.innerText = 'Hiện'
        }
    }

    function togglePassword(element, query) {
        if(document.querySelector(query).type == 'password') {
            document.querySelector(query).type = 'text'
            element.innerText = 'Ẩn'
        }
        else {
            document.querySelector(query).type = 'password'
            element.innerText = 'Hiện'
        }
    }

    document.querySelector('#form1').onsubmit = async function(e) {
        e.preventDefault()
        let checkReg = false
        await handleSubmit1()
        .then(data => checkReg = data)

        if(checkReg) {
            document.querySelector('#form1 button[type="submit"]').classList.add('unActive')
            const response = fetch('/user/forgot-password/send-code', {
            method: 'post',
            body: JSON.stringify({email: document.querySelector('#email1').value}),
            headers: {
                "Content-Type": "application/json"
            }
        }).then(data => data.json())
          .then(dataJson => {
            document.querySelector('#form1 button[type="submit"]').classList.remove('unActive')
            if(dataJson.message == 0) {
                document.querySelector('#messageErrorEmail').innerHTML = 'Tài khoản chưa được đăng ký'
            } else if(dataJson.message == 1) {
                document.querySelector('#messageErrorEmail').innerHTML = 'Máy chủ lỗi, vui lòng thử lại sau'
            } else if (dataJson.message == 2){
                token = dataJson.token
                console.log(token);
                document.querySelector('.slide.slide1').classList.remove('active')
                document.querySelector('.slide.slide2').classList.add('active')
                document.querySelector('#email2').value = document.querySelector('#email1').value
            }
          })
        }
    }

    document.querySelector('#form2').onsubmit = function(e) {
        e.preventDefault()
        document.querySelector('#form2 button[type="submit"]').classList.add('unActive')
        const response = fetch('/user/forgot-password/verify-code', {
            method: 'post',
            body: JSON.stringify({code: document.querySelector('#code').value}),
            headers: {
                "Content-Type": "application/json"
            }
        })
        .then(data => data.json())
        .then(dataJson => {
            document.querySelector('#form2 button[type="submit"]').classList.remove('unActive')
            if(dataJson.message == true) {
                document.querySelector('.slide.slide2').classList.remove('active')
                document.querySelector('.slide.slide3').classList.add('active')
            } else {
                document.querySelector('#messageErrorCode').innerHTML = 'Sai mã code'
            }
        })
    }

    document.querySelector('#form3').onsubmit = async function(e) {
        e.preventDefault()
        let testReg = false
        await handleSubmit3()
        .then(data => testReg = data)
        if(testReg) {
            const response = fetch('/user/reset-password', {
                method: 'post',
                body: JSON.stringify({password: document.querySelector('#password').value, token: token}),
                headers: {
                    "Content-Type": "application/json"
                }
            })
            .then(data => data.json())
            .then(dataJson => {
              console.log(dataJson.message); 
            })
        }
    }

</script>
</body>
</html>